.appContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.navbarContainer {
  /* height: 112px; */
  padding-inline: 30px;
  padding-block-start: 32px;
  padding-block-end: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--blue-15, rgba(10, 58, 103, 0.15));
  background: #fff;
  box-shadow: 6px 6px 36px 0px rgba(0, 0, 0, 0.06);
}

.navbarItemsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.userDetailsContainer {
  display: flex;
  height: fit-content;
  gap: 20px;
}

.profileImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.userInfoContinaer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--blue-60, rgba(10, 58, 103, 0.6));
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.arrowLeftBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #0a3a67;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.serachContanier {
  display: flex;
  width: 525px;
  height: 48px;
  border: 1px solid #0a3a6726;
  border-radius: 10px;
  align-items: center;
  gap: 24px;
  padding-inline: 20px;
}

input {
  border: none !important;
  outline: none !important;
  width: 100%;
  color: var(--dark-blue, #122452);
  font-family: "Poppins", "Times New Roman", Times, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: unset;
}
input::placeholder {
  color: var(--blue-60, rgba(10, 58, 103, 0.6));
  font-family: "Poppins", "Times New Roman", Times, serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}

.addButton {
  cursor: pointer;
  display: flex;
  width: 202px;
  padding: 11px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--blue, #0a3a67);
}
.addButtonText {
  color: #fff;
  font-family: "Poppins", "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.4px;
}

.dashboardContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 38px;
  padding-top: 30px;
  padding-inline: 40px;
}

.leftSideMenuContainer {
  display: inline-flex;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 19.785px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 6px 6px 36px 0px rgba(0, 0, 0, 0.06),
    -2px -4px 13px 0px rgba(255, 255, 255, 0.3),
    4px 4px 47px 0px rgba(0, 0, 0, 0.04);
}
.listContainer {
  display: flex;
  flex-direction: column;
  height: inherit;
  padding: 38px 20px 38px 20px;
  gap: 20px;
}
.listItemContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 11px;
}
.listItemIcon {
  display: flex;
}
.listItemLabel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--blue-60, rgba(10, 58, 103, 0.6));
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 11px;
  padding-block: 6px;
}
.listItemActive {
  border-radius: 50px;
  background: rgba(10, 58, 103, 0.1);
  width: 137px;
  height: 36px;

  color: var(--blue, #0a3a67);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* cards layout */
.cardsContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cardTopContainer {
  display: flex;
}

.cardBottomContainer {
  display: flex;
  gap: 28px;
}
/* cards layout */

/* cards style */
.cardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-block: 32px;
  padding-inline: 30px;
  border-radius: 30px;
  border: 1px solid var(--blue-15, rgba(10, 58, 103, 0.15));
  background: #fff;
  box-shadow: 2px 2px 16px 0px rgba(10, 58, 103, 0.12);
  gap: 20px;
}

.cardheader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}

.cardContent {
  /* display: flex; */
  width: 100%;
}

.labelSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.label {
  color: var(--blue, #0a3a67);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description {
  color: var(--blue-60, rgba(10, 58, 103, 0.6));
  font-family: Poppins;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}

.buttonGroups {
  display: flex;
  align-items: center;
  gap: 20px;
}

.actionBtn {
  display: inline-flex;
  padding: 2px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--blue-15, rgba(10, 58, 103, 0.15));
  background: rgba(10, 58, 103, 0.05);
  box-shadow: 6px 6px 36px 0px rgba(0, 0, 0, 0.06);
}

.filterBtn {
  gap: 4px;
}

.dayBtn {
  gap: 10px;
}
/* cards style */

.amuBranchListContainer {
  margin-top: 9px;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  padding-right: 13px;
  padding-block-end: 14px;
  padding-inline-start: 16px;
}

.amuPrmListContainer {
  margin-top: 9px;
}

.statistics {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.countCard {
  width: 300px;
  height: 109px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid rgba(85, 113, 83, 0.15);
  background: #fff;
  box-shadow: 2px 2px 16px 0px rgba(10, 58, 103, 0.12);
}
.countCardsContainer {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 64px;
}

.countGraphCardsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.countCard {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  height: 109px;
  /* justify-content: space-between; */
  padding-inline: 20px;
  padding-block-start: 20px;
  padding-block-end: 15px;
}
.countCardLabel {
  font-weight: 400;
  font-size: 14px;
  /* padding-inline-end: 10px; */
}
.countCardNumber {
  color: rgba(85, 113, 83, 0.6);
  font-size: 24px;
  font-weight: 700;
  /* margin-top: 5px; */
}
.countCard > hr {
  width: 300px;
  margin-top: 10px;

  height: 1px;
  background: rgba(85, 113, 83, 0.15);
}

.countValuation {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 157px;
  padding-block: 20px;
  padding-inline: 20px;
  gap: 14px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid var(--blue-15, rgba(10, 58, 103, 0.15));
  background: #fff;
  box-shadow: 2px 2px 16px 0px rgba(10, 58, 103, 0.12);
}
.labelNumberContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 11px;
  padding-inline: 10px;

  /* background-color: red; */
}
.hLine {
  border-bottom: 1px solid rgba(156, 133, 133, 0.15);
}
.countCardLabelValuation {
  color: var(--blue-60, rgba(10, 58, 103, 0.6));
  /* padding-block-end: ; */
}
.aiVerifiedContainerLabel {
  color: rgba(198, 61, 47, 0.6);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.aiVerifiedContainerNumber {
  color: #c63d2f;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.aiVerifiedContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pmrContainerLabel {
  color: rgba(53, 162, 159, 0.6);
}
.pmrContainerNumber {
  color: #35a29f;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.pmrContainer {
  display: flex;
  justify-content: space-between;
}

.amuBranchContent {
  color: var(--dark-blue, #122452);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 10%;
}
.amuBranchGreenBg {
  padding: 2px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: rgba(96, 189, 89, 0.1);
}
.amuBranchGreenBg {
  display: flex;
  justify-content: space-between;
}
.amuBranchContentRs {
  color: #60bd59;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.amuHr {
  display: flex;
  gap: 16px;
  border-bottom: 1px solid rgba(10, 58, 103, 0.15);
}
